<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fiches de cuisine - {{ .Sejour }}</title>
    <style>
      @page {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .receipe {
        background-color: rgb(226, 226, 245);
        border-radius: 10px;
        padding: 10px;
        margin-top: 8px;
      }

      .ingredient-table {
        padding: 6px 10px;
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 4px;
        flex: 3;
        align-self: center;
      }
    </style>
  </head>
  <body>
    {{ range .Pages }}
    <div style="break-inside: avoid; page-break-after: always">
      <div style="display: flex; justify-content: space-between">
        <h3>{{ .Date }} - {{ .Horaire }}</h3>
        <h4>Pour {{ .NbPersonnes }} personnes</h4>
      </div>

      {{ range .Receipes }}
      <div class="receipe">
        <h5 style="margin-top: 4px">{{ .Title }}</h5>
        <div style="display: flex; justify-content: space-between">
          <table class="ingredient-table">
            <tr>
              <td style="padding-right: 10px"><i>Ingrédient</i></td>
              <td><i>Quantité</i></td>
            </tr>
            {{ range .Ingredients }}
            <tr>
              <td>{{ .Name }}</td>
              <td style="text-align: right">{{ .Quantite }}</td>
            </tr>
            {{ end }}
          </table>
          <div style="flex: 2">
            {{ if ne .Comments "" }}
            <h6 style="margin-top: 0">Commentaires</h6>
            <p>{{ .Comments }}</p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </body>
</html>
